body {
  background-color: #935d8c;
  background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #fff 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #fff 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url("images/overlay.png"), linear-gradient(45deg, #41BAC1 25%, #5f4d93 80%, #41BAC1 100%);
}


/* Styling for the Activities section */
#activities .image img {
  display: block;
  border-radius: 100%;
  width: 12em;
  color: #dddddd;
  padding: 0.65em;
  border: solid 1px;
}

/* Styling for the FAQ section */
details summary {
  cursor: pointer;
  font-weight: 500;
}

details[open] summary ~ * {
  animation: sweep .4s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}
